* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    cursor: url('assets/crosshair.png') 16 16, auto;
}

#game {
    height: 100vh;
}